:root {
  --main-color: #3F854E;
  --main-color_hover: #4b965b;
  --red-color: rgb(188, 26, 26);
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #ABABAB;
  --grey-text: #A3A3A3;
  --placeholder: #d2d2d2;
}